@model Library.Models.Locations


<div class="IndxCrtBook">

    <ul>
        <li>@Model.Floor
            <ul>
                <li>@Model.Area
                    <ul>
                        <li>@Model.Room
                            <ul>
                                <li>@Model.Section
                                    <ul>
                                        <li>@Model.shelf</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
    @if (User.IsInRole("Admins"))
    {
        <a href="@Url.Action("EditLocation", "Books",new { id = Model.Loc_ID})" class="btn btn-sm btn-primary location">Edit</a>
    }


</div>
