
@model IEnumerable<Library.Models.Books>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>



<div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Location</h4>
            </div>
            <div class="divForLocation">
            </div>
        </div>
    </div>
</div>
@if (User.IsInRole("Admins"))
{
    <p>
        <button onclick="location.href='@Url.Action("Create", "Books")';return false;" class="btn btn-primary">Add Book</button>
    </p>
}



<!-- start section price table -->
<section class="price text-center">
    <div class="container-fluid">


        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="price_box">
                    @if (item.Amount > 0)
                    {
                        <p class="lead">Avail @item.Amount</p>
                    }
                    else
                    {
                        <p class="lead">Not Avail</p>
                    }

                    <h3 class="text-primary text-left">Book Name :  @Html.DisplayFor(modelItem => item.Title)</h3>
                    @if (item.ImagePath == null)
                    {
                        <img src="~/images/a-boy-reading-a-book-clipart.png" />
                    }
                    else
                    {
                        <img src="~/images/@item.ImagePath" />
                    }

                    <h5>Author : @Html.DisplayFor(modelItem => item.Author)</h5>
                    <h6>About Book</h6>

                    @if (User.IsInRole("Admins"))
                    {
                        <button onclick="location.href='@Url.Action("Edit", "Books",new { id = item.Book_ID  })';return false;" class="btn btn-sm btn-primary" id="">Edit</button>
                        <text>
                            @if (item.Amount <= 0)
                            {
                                @Ajax.ActionLink("Delete", "Delete", "Books", new { @id = item.Book_ID, idloc = item.Loc_id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "IndxBook", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-sm btn-primary" })

                            }
                            else
                            {
                                <button onclick="location.href='@Url.Action("Delete", "Books",new { id = item.Book_ID , idloc =item.Loc_id})';return false;" class="btn btn-sm btn-primary" disabled>Delete</button>

                            }
                            <a href="@Url.Action("Location", "Books",new { id = item.Loc_id})" class="btn btn-sm btn-primary location">Location</a>
                        </text>


                    }
                    else
                    {
                        <a href="@Url.Action("Location", "Books",new { id = item.Loc_id  })" class="btn btn-sm btn-primary location">Location</a>

                    }

                </div>
            </div>
        }


    </div>
</section>


<script>
    $(document).ready(function () {
        $('.location').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('.divForLocation').html(response);
            });
            $('#Add-Model').modal({
                backdrop: 'static',
            }, 'show');
        });

    });
</script>

